/* General Services Section Styling */
.services-section {
    flex: 1;
    margin-top: 50px;
}

.available-services-heading {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 17px;
    margin-bottom: 17px;
    color: white;
    opacity: 0.7;
    margin-left: 50px;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
}

.services-section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.see-all-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
    transition: color 0.3s;
}

.see-all-link:hover {
    opacity: 0.6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .see-all-link {
        font-size: 14px;
    }
    
    .embla__container {
        grid-column-gap: 20px;
    }
}

.no-services-message {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-top: 17px;
    font-family: 'Arial', sans-serif;
    padding: 165px;
    background: none;
}

/* Embla Carousel Styling */
.embla {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
}

.embla__container {
    display: flex;
    align-items: center;
}

.embla__slide {
    flex: 0 0 50% auto;
    width: 250px;
}

.embla__slide:nth-child(1) {
    margin-left: 5%;
}

.embla__slide:last-child {
    margin-right: 5%;
}

/* Loading Message */
.loading-message {
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 18px;
}
