body {
    margin: 0;
    padding: 0;
    background-color: rgb(22, 22, 22);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;   
}

.whoisfounder {
    height: 31rem;
}

.whoandwhy {
    color: rgb(190, 190, 190);
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whopara {
    color: rgb(200, 200, 200);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left: 8%;
    top: 39%;
    right: 8%;
}

.whopara a{
    text-decoration: none;
    color: rgb(200, 200, 200);
    margin-right: 5px;
}
.whopara a:hover {
    color: white;
}

.whopara p {
    margin-right: 10px;
}

.paraname {
    font-weight: 700;
}


.foot-div {
    color: rgb(177, 177, 177);
    text-decoration: none;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(177, 177, 177);
}

a:hover {
    color: white;
}


/*
.connect {
    color: rgb(177, 177, 177);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.social {
    color: rgb(174, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    bottom: 6%;
    margin-left: 400px;
}


.aboutus {
    color: rgb(177, 177, 177);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.aboutus-h4 { 
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about {
    position: fixed;
    bottom: 6%;
    margin-right: 400px;
}

.connect:hover {
    color: white;
}

.aboutus:hover {
    color: white;
}

h4 {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
} */
