.workshop-section {
    flex: 1;
    margin-top: 20px;
}



.upcoming-workshops-heading {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 17px;
    margin-bottom: 17px;
    color: white;
    opacity: 0.7;
    margin-left: 50px;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
}

.event-section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.see-all-link {
    color: white;
    opacity: 0.5;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-left: 10px;
    transition: 0.3s;
}

.see-all-link:hover {
    opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .see-all-link {
        font-size: 14px;
    }
}

.no-events-message {
    text-align: center; /* Center the message */
    font-size: 18px; /* Font size */
    color: #666; /* Color for the message */
    margin-top: 17px; /* Space above the message */
    font-family: 'Arial', sans-serif; /* Font family */
    background: none;
}

/* Embla Carousel Styling */
.embla {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
}

.embla__container {
    display: flex; /* Ensures horizontal layout */
    align-items: center; /* Vertically aligns items */
    gap: 10px; /* Space between slides */
}

.embla__slide {
    flex: 0 0 auto; /* Prevent shrinking or growing */
    width: 250px; /* Fixed width for event boxes */
    box-sizing: border-box; /* Ensures padding is included in the width */
}


/* Removed Arrows and Dots */
.embla__controls,
.embla__buttons,
.embla__dots {
    display: none;
}
