@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 6, 9, 63;
  --background-end-rgb: 0, 0, 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  color: rgb(var(--foreground-rgb));
}

/* Toast styles */
.Toastify__toast {
  background: #1c1c1c !important;
  color: white !important;
}

.Toastify__toast-body {
  font-family: Arial, sans-serif;
}

.Toastify__progress-bar {
  background: #333333 !important;
}

.Toastify__close-button {
  color: white !important;
} 