.our-services-container {
    padding: 20px;
    margin-top: 130px;
    font-family: 'Roboto', sans-serif;
    background: none;
}

.our-services-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(40, 40, 40, 0.3);
}

.our-services-content h2 {
    font-size: 2em;
    color: #848383;
    margin-bottom: 30px;
}

.our-services-content h3 {
    font-size: 1.2em;
    color: #6a6a6a;
    margin-bottom: 15px;
}


.our-services-content p {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 1.1em;
    margin: 15px;
    color: #555;
}




