/* Footer */
.footer {
    margin-top: auto;
    width: 100%;
    background: linear-gradient(
        to top,
        rgb(6, 9, 63) 0%,
        rgba(6, 9, 63, 0) 100%
    );
    font-family: 'Play', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; /* Added for line positioning */
}

/* Top line style */
.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 300px;
    right: 300px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

/* Responsive Design */
@media (max-width: 764px) {
    .footer {
        padding: 5%;
    }

    .footer::before {
        left: 20px; /* Adjusted for mobile */
        right: 20px; /* Adjusted for mobile */
    }

    .footer .row ul li {
        display: block;
        margin: 10px;
    }

    .footer .row a i {
        margin: 0% 3%;
    }

    .footer::before {
        left: 100px;
        right: 100px;
    }

}