
/* Footer */
.footer {
    flex-shrink: 0;
    width: 100%;
    background: linear-gradient(
        to top,
        rgb(6, 9, 63) 0%,
        rgba(6, 9, 63, 0) 100%
    );
    font-family: 'Play', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: auto;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 300px;
    right: 300px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.icon {
    font-size: 2em;
    color: gray;
    transition: 0.5s;
    display: block;
    line-height: 1;
}

.x-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.x-icon {
    width: 1.6em;
    height: 1.6em;
    fill: gray;
    transition: 0.5s;
    display: block;
    margin-top: 2px;
}

.row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row a:hover,
.row a:focus {
    color: #fff;
}

.row a:hover .icon,
.row a:focus .icon {
    color: #fff;
}

.x-link:hover .x-icon {
    fill: white;
}

.row ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.iconRow {
    flex-direction: row !important;
}

@media (max-width: 764px) {
    .footer {
        padding: 5%;
    }
    .footer::before {
        left: 20px;
        right: 20px;
    }
    .row {
        gap: 18px;
    }
    .iconWrapper, .x-link {
        height: 32px;
        width: 32px;
    }
    .icon {
        font-size: 1.5em;
    }
    .x-icon {
        width: 1.2em;
        height: 1.2em;
    }
    .row ul li {
        display: block;
        margin: 10px;
    }
}

/* Responsive Design */
@media (max-width: 900px) {
    .footer .row {
        max-width: 98vw;
        gap: 18px;
    }
    .footer::before {
        left: 2vw;
        right: 2vw;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 8vw 0 24px 0;
    }
    .footer .row {
        flex-direction: column;
        gap: 10px;
        max-width: 100vw;
    }
    .footer .row ul {
        flex-direction: column;
        gap: 0;
    }
    .footer .row ul li {
        margin: 8px 0;
    }
    .footer::before {
        left: 0;
        right: 0;
    }
    .footer .iconRow {
        flex-direction: row !important;
    }
} 