/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/about/About.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.About_aboutContainer__a3PFr {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px 40px;
  min-height: 100vh;
}

.About_title__VzB_Y {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-bottom: 24px;
  text-align: center;
  font-family: "Architects Daughter", cursive;
}

.About_description__WMSGx {
  font-size: 18px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.8);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .About_title__VzB_Y {
    font-size: 36px;
  }
  
  .About_description__WMSGx {
    font-size: 16px;
    padding: 0 20px;
  }
}

.About_aboutUsContainer__EcgpV {
  padding: 20px;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
  background: none;
}

.About_aboutUsContent___Ue1l {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(40, 40, 40, 0.3);
}

.About_aboutUsContent___Ue1l h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
  opacity: 0.7;
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.About_aboutUsContent___Ue1l p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 1.1em;
  margin: 25px;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
  .About_aboutUsContainer__EcgpV {
    margin-top: 80px;
    padding: 15px;
  }
  
  .About_aboutUsContent___Ue1l {
    padding: 15px;
  }
  
  .About_aboutUsContent___Ue1l h2 {
    font-size: 20px;
  }
  
  .About_aboutUsContent___Ue1l p {
    font-size: 1em;
    margin: 15px;
  }
} 
